body {
  display: flex;
  font-family: sans-serif;
}

.app-box {
  border: solid 1px gray;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  flex-grow: 1;
}

.app-box h1 {
  background: lightgoldenrodyellow;
  border-radius: 5px;
  margin: -10px -10px 10px;
  padding: 16px;
}

.log {
  font-family: monospace;
  border: solid 1px gray;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

.log .info {
  margin-bottom: 6px;
}

.log .msg {
  background: #dddddd;
  padding: 1px 3px;
}
